table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ddd;
}
table caption{
    font-size: larger;
}
.sunday {
    color: rgb(255, 255, 255);
    background-color: red;
}

.weekday {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 193, 6);
}

.saturday {
    color: rgb(255, 255, 255);
    background-color: blue;
}

.color-red {
    color: red;
}

.color-blue {
    color: blue;
}

.color-black {
    color: #000;
}

tr:nth-child(1) td {
    border-left: none;
    border-right: none;
}

table sub {
    font-size: xx-small;
}